header .centered-column {
  display: flex;
  align-items: center;
}

#logo {
  height: 80px;
}

#lets-have-chat-button {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

#lets-chat-bubble {
  background: url("assets/images/baloon-for-text.svg");
  background-repeat: no-repeat;
  width: 260px;
  height: 60px;
  text-transform: uppercase;
  color: var(--color-aubergine-animations);
}

#lets-chat-bubble p.desktop {
  display: block;
  padding-left: 24px;
  margin-top: 16px;
}

#lets-chat-bubble p.mobile {
  display: none;
}
