#projects-list {
  display: flex;
  padding: 0px 16px 96px 16px;
}

.thumbnail {
  width: 100%;
  height: 248px;
  object-fit: cover
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  --spacing: 24px;
  --negative-spacing: -24px;
  margin: 0 var(--negative-spacing) 0 var(--negative-spacing);
}

.projects-grid .project-card {
  z-index: var(--z-index-project-card);
  cursor: pointer;
  padding: var(--spacing);
  text-align: left;

}

.project-title {
  font-size: 30px;
  line-height: 120%;
  margin: 16px 0 8px 0;
}

.project-subtitle {
  overflow: hidden;
  backface-visibility: hidden;
}

.projects-grid .project-card:hover {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  transition: transform 0.3s ease, background-color 0.5s ease;
}


@media only screen and (max-width: 1280px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .thumbnail {
    width: 100%;
    height: 220px;
    object-fit: cover
  }

  .projects-grid {
    gap: 16px;
    margin: 0;
  }

  .projects-grid .project-card {
    padding: 16px 16px 0 16px;
    height: auto;
  }

  .project-title {
    font-size: 24px;
    line-height: 120%;
    margin: 16px 0 8px 0;
  }
}
