.projects-list {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.project-title {
  line-height: 32px;
  color: var(--color-aubergine-animations);
  position: absolute;
  width: 265px;
  left: 110px;
}

.featured-project-card {
  position: relative;
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 130px;
  flex-basis: 30%;
  padding: 16px 0 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.featured-project-card::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
}

.featured-project-card:hover::after {
  background-color: var(--color-aubergine-animations);
  color: var(--color-white);
  width: 100%;
  transition: width 0.3s ease;
}

.featured-project-card:hover .project-title {
  font-size: 23px;
}

.featured-project-card .project-title {
  font-weight: 500;
  color: var(--color-aubergine-animations);
  transition: font-size 0.3s ease;
  width: 265px;
}


.player-container,
.lf-player-container {
  width: 80px;
  height: 100%;
  position: relative;
  display: flex;
}

.featured-project-card:nth-child(2) .player-container {
  width: 110px;
}

.featured-project-card:nth-child(2) .lf-player-container {
  transform: translateX(14px) rotate(-23deg);
  width: 55px;
}

#title-sticker {
  background-image: url(../../../assets/images/section-sticker-green.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -53px;
  left: 50%;
  transform: translateX(-50%);
  width: 438px;
  height: 141px;
  text-align: center;
}

#title-sticker p {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: 500;
  z-index: 2;
}

#title-sticker::after {
  content: "";
  position: absolute;
  mask-image: url(../../../assets/images/section-sticker-green.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  inset: 0;
  background-image: url(../../../assets/images/texture-green.svg);
  opacity: 1;
}

section#featured-projects {
  position: relative;
  background-color: var(--color-gold-texture);
  padding: 48px 0 96px 0;
}

section#featured-projects::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../../assets/images/texture-sand.svg);
}

@media screen and (max-width: 1280px) {
  #title-sticker {
    /* top: -30px; */
    width: 340px;
  }

  #title-sticker p {
    font-size: 25px;
    line-height: 45px;
  }

  .projects-list {
    padding-top: 20px;
    gap: 0 64px;
  }

  .featured-project-card {
    flex-basis: 46%;
  }

}

@media screen and (max-width: 900px) {
  section#featured-projects {
    padding: 48px 0;
  }

  #title-sticker p {
    font-size: 25px;
    line-height: 45px;
  }

  #title-sticker {
    top: -30px;
    width: 240px;
  }

  #title-sticker p {
    font-size: 19px;
    line-height: 30px;
  }

  .projects-list {
    padding: 0 24px;
    display: block;
  }

  .player-container,
  .project-title {
    margin-left: -24px;
    font-size: 18px;
  }

  .featured-project-card .project-title {
    width: 215px;
    font-size: 18px;

  }

  .project-card {
    padding: 0;
    height: 120px;
  }

  .project-card:hover .project-title {
    font-size: 19px;
  }

  .project-card:hover::after {
    width: 0;
  }
}
