/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/open-sans-v43-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/open-sans-v43-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/open-sans-v43-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  --color-white: #f5f1ed;
  --color-red-coral: #ce7172;
  --color-sand-animation: #f1ddb0;
  --color-gold-texture: #fdbd59;
  --color-aubergine-animations: #2b1335;
  --color-green-animations: #43ad7c;
  --color-green-texture: #83a76c;

  --card-background: rgba(255, 255, 255, 0.05);
  --card-border-radius: 16px;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background: none;
  outline: none;
  border: none;
}

#root {
  position: fixed;
  inset: 0;
}

.centered-column {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.items-aligned-top {
  align-items: flex-start;
}

@media only screen and (max-width: 1280px) {
  .centered-column {
    width: 800px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 900px) {
  .centered-column {
    width: 375px;
  }

  .intro-card {
    padding: 0;
    align-items: center;
  }

  .intro-card .intro-chapter {
    font-size: 16px;
    font-weight: 500;
  }

  .intro-card:nth-child(2) .intro-chapter {
    padding-left: 0;
  }


  .intro-card .lf-player-container,
  .intro-card .player-container {
    width: 120px;
    height: 125px;
  }

  .intro-card:nth-child(2) {
    order: 1;
  }

  .intro-card:nth-child(1) {
    order: 2;
  }

  .intro-card:nth-child(3) {
    order: 3;
  }

  .intro-card-0 .player-container {
    margin-top: -8px;
  }
}
