footer {
  padding: 24px 24px 96px 24px;
  text-align: center;
}

footer span {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 16px;
}

.footer-icon {
  height: 24px;
}

span:nth-child(2) .footer-icon {
  height: 32px
}

.footer-link {
  color: var(--white);
  text-decoration: underline;
  font-size: var(--body-text-font-size)
}
